.mini-header {
    padding: 16px 0;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    font-family: 'Lora', serif;
}

.mini-header .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mini-header .mini-title {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Great Vibes', cursive;
    color: #1e2a44;
    letter-spacing: 2px;
}

.mini-header .back-home {
    font-size: 26px;
    color: #1e2a44;
    text-decoration: none;
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
    letter-spacing: 2px;
}

.mini-header .back-home:hover {
    text-decoration: underline;
}